h1 {
    font-size: 42px;
    color: blue;
}
.centered {
    text-align: center;
}
p.right {
    text-align: right;
    }
    #header {
        color: green;
        border: 1px solid #CCC;
        border-width: 1px 0;
        }